* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box 0;
            box-sizing: border-box 0;
  }
  
  body {
    background-color: #135f5f;
    background-image: url(https://previews.123rf.com/images/kluva/kluva1512/kluva151200057/49482654-biblioteca-de-libros-de-patr%C3%B3n-transparente-la-lectura-de-fondo-patr%C3%B3n-de-bosquejo-dibujado-a-mano-s.jpg);
    background-position: center;
  }